
asgiref
colorlog
cryptography
Flask
Flask-Admin
Flask-Babel
flask-limiter
Flask-Migrate>=4.0.0
Flask-SQLAlchemy>=3.1.0
Flask-WTF
Flask-wtf
gunicorn
lxml
mwclient
mwoauth
pymysql
python-dotenv
requests
sqlalchemy
tqdm
uvicorn
wikitextparser>=2.0.0
WTForms

git+https://github.com/MrIbrahem/CopySVGTranslation.git@main
